/* box sizing, to make reasoning on element's box model more "natural"
	 https://css-tricks.com/box-sizing/#aa-universal-box-sizing-with-inheritance */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* global variables */
:root {
	--fs: 18px;
	--fs-h1: 2.5rem;
	--fs-h2: 2.3rem;
	--fs-h3: 2rem;
	--fs-h4: 1.7rem;
	--fs-h5: 1.4rem;
	--fs-h6: 1.2rem;
	--fs-s1: 0.8rem;
	--fs-s2: 0.7rem;
	--fs-s3: 0.6rem;
	--size: 1.5rem;
	--size-container: 50rem;
}

/* update variable values, depending on "some media contexts" */
/* screen size */
@media (min-width: 50rem) {
	:root {
		--fs: 23px;
	}
}
/* color scheme defined in user's browser (or OS) preferences */
@media (prefers-color-scheme: dark) {
	:root {
		--c-fg: white;
		--c-bg: black;
		--c-src--bg: slategray;
		--c-src--fg: black;
		--c-link: aqua;
		/* titles */
		--c-h1: aqua;
		--c-h2: chartreuse;
		--c-h3: chocolate;
		--c-h4: deeppink;
		--c-h5: dimgray;
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--c-h1: aqua;
		--c-h2: blue;
		--c-h3: darkgreen;
		--c-h4: brown;
		--c-h5: dimgray;
		--c-fg: black;
		--c-bg: lightgray;
		--c-src--bg: lemonchiffon;
		--c-src--fg: navy;
		--c-link: magenta;
	}
}
@media print {
	:root {
		--fs: 17px;
	}
}

/*
	default elements
*/

/* DOM's 'root element */
html {
	color: var(--c-fg);
	background-color: var(--c-bg);
	font-family: inherit; /* why not */
	font-size: var(--fs);
}

/* links */
a {
	color: var(--c-link);
}

/* apply font size and "emacs org mode like header" the titles */
h1 {
	font-size: var(--fs-h1);
	color: var(--c-h1);
}
h2 {
	font-size: var(--fs-h2);
	color: var(--c-h2);
}
h3 {
	font-size: var(--fs-h3);
	color: var(--c-h3);
}
h4 {
	font-size: var(--fs-h4);
	color: var(--c-h4);
}
h5 {
	font-size: var(--fs-h5);
	color: var(--c-h5);
}
h1::before {content: '*';}
h2::before {content: '**';}
h3::before {content: '***';}
h4::before {content: '****';}
h5::before {content: '*****';}

h1, h2, h3, h4, h5 {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--c-bg);
	margin-left: calc(1em * 0.5 * -1);
}
h2 {
	top: 0;
}
h3 {
	top: var(--size);
}
h4 {
	top: calc(var(--size) * 2);
}
h5 {
	top: calc(var(--size) * 3);
}

/* harmonize margins on some elements */
h1, h2, h3, h4, h5,
p,
article {
	margin-top: 0;
}

/*
	app layout
*/
body {
	margin: 0;
	padding: calc(var(--size) / 2);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*
	org mode auto generated classes
*/
/* content container (used at the top of DOM's body) */
.content {
	max-width: var(--size-container);
}

/* toc */
nav[role="doc-toc"] {
	padding-bottom: calc(var(--size) * 2.5);
}
/* the first outline of lvl 2, the one after the toc */
.outline-2:first-of-type {
	/* add some padding to, as no way to target the "first level content container" */
	padding-top: calc(var(--size) * 2.5);
}
/* all "org header h-level", nested "outlines" */
.outline-2,
.outline-3,
.outline-4,
.outline-5 {
	margin-bottom: calc(var(--size) * 2.5);
}
.outline-text-2 {
	margin-bottom: calc(var(--size) * 2);
}
/* source blocks */
.src,
pre,
code {
	background-color: var(--c-src--bg);
	color: var(--c-src--fg);
}
.src {
	tab-size: 2;									/* the size, in spaces, of a tab */
	white-space: pre-wrap;				/* how to display white spaces */
	padding: calc(var(--size) / 2);
}
/* comments in source blocks */
.src span {
	white-space: pre-wrap;
}

/* src blocks for each languages used */
.src::after {
	font-size: 0.8rem;
	margin-top: var(--size);
  display: block;
  text-align: right;
	opacity: 0.8;
}
.src-emacs-lisp::after {
  content: ';; emacs-lisp';
}
.src-yaml::after {
  content: '# yaml';
}
.src-bash::after {
  content: '# bash';
}
.src-text::after {
  content: '// text';
}
